<!--
  This file is imported by..
  include home.html
  include about.html
  include history.html
-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="../../../static/old_design/images/favicon/a_favicon.ico">
<link rel="stylesheet" href="../../../static/old_design/bootstrap-4.3.1-dist/css/bootstrap.css">
<link rel="stylesheet" href="../../../static/old_design/bootstrap-4.3.1-dist/css/sticky-footer.css">
<link rel="stylesheet" href="../../../static/old_design/style.css">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RSZ38BFR23"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RSZ38BFR23');
</script>
<!-- Google search console -->
<meta name="google-site-verification" content="tFcWs1DIvjOgLb_8eSDukguWlVTYy4jzBZ4lxDT5f7A" />