<!--
  This file is imported by
  include home.html
  include about.html
  include history.html
-->
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #FEFBF3;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto mt-1" style="margin-left: auto;">
            <li class="nav-item">
                <a id="nav-item-home" class="nav-link" href="/home" method="home">へんかん</a>
            </li>
            <li class="nav-item">
                <a id="nav-item-about" class="nav-link" href="/about" method="about">せつめい</a>
            </li>
            <li class="nav-item">
                <a id="nav-item-history" class="nav-link" href="/history" method="about">りれき</a>
            </li>
        </ul>
    </div>
</nav>