<!--
  This file is imported by
  include home.html
  include about.html
  include history.html
-->
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- sns share div -->
    <div class="sns-share-div is-mobile-sns">
        <a class="twitter-share-button"
           href="https://twitter.com/share?url=https://www.woshite.net/?text=ヲシテ へんかん。ひらがなをヲシテ文字(オシテ文字)、ホツマ文字に変換してくれるサイトです。"
        >
            <img src="../../static/images/header/logo-black-x.png" class="is-mobile-x-img">
        </a>
        <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL"
             data-url="https://www.woshite.net/" data-color="grey" data-size="small" data-count="false"
             data-ver="3" style="display: none;"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async"
                defer="defer"></script>
    </div>
    <!-- sns share div -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto mt-1" style="margin-left: auto;">
            <li class="nav-item">
                <a id="nav-item-home" class="nav-link" href="/home" method="home">へんかん</a>
            </li>
            <li class="nav-item">
                <a id="nav-item-about" class="nav-link" href="/about" method="about">せつめい</a>
            </li>
            <li class="nav-item">
                <a id="nav-item-history" class="nav-link" href="/history" method="about">りれき</a>
            </li>
        </ul>
    </div>
</nav>
