<!--
  This file is imported by
  include home.html
  include about.html
  include history.html
-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="ヲシテ へんかん。ひらがなをヲシテ文字(オシテ文字)、ホツマ文字に変換してくれるサイトです。">
<meta name="thumbnail" content="../../static/images/header/ogp_a_img.png"/>
<meta property="og:title" content="ヲシテ へんかん">
<meta property="og:description" content="ひらがなをヲシテ文字に変換してくれるサイトです">
<meta property="og:image" content="../../static/images/header/ogp_a_img.png">
<meta property="og:image:secure_url" content="../../static/images/header/ogp_a_img.png">
<meta property="og:url" content="https://www.woshite.net/">
<meta property="og:site_name" content="ヲシテ へんかん">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta property="og:url" content="ページのURL"/>
<meta property="og:type" content="ページの種類"/>
<meta property="og:title" content="ページのタイトル"/>
<meta property="og:description" content="ページの紹介文"/>
<meta property="og:image" content=" サムネール画像のパス"/>
<meta property="og:site_name" content="サイト名"/>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="ヲシテ へんかん">
<meta name="twitter:title" content="ヲシテ へんかん">
<meta name="twitter:description" content="ヲシテ へんかん。ひらがなをヲシテ文字(オシテ文字)、ホツマ文字に変換してくれるサイトです。">
<meta name="twitter:image" content="../../static/images/header/ogp_a_img.png">

<link rel="shortcut icon" href="../../static/images/favicon/a_favicon.ico">
<link rel="stylesheet" href="../../static/bootstrap-4.3.1-dist/css/bootstrap.css">
<link rel="stylesheet" href="../../static/bootstrap-4.3.1-dist/css/sticky-footer.css">
<link rel="stylesheet" href="../../static/css/style.css">
<link rel="stylesheet" href="../../static/css/home.css">
<link rel="stylesheet" href="../../static/css/about.css">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RSZ38BFR23"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-RSZ38BFR23');
</script>
<!-- Google search console -->
<meta name="google-site-verification" content="tFcWs1DIvjOgLb_8eSDukguWlVTYy4jzBZ4lxDT5f7A"/>
