<!DOCTYPE html>
<html lang="ja">
<head>
    {% include "old_design/parts/headTagCmn.html" %}
    <title>ヲシテ文字 コンバーター -about-</title>
</head>
<body>
    {% include "old_design/parts/header.html" %}
    <div class="jumbotron jumbotron-fluid" sytle="margin:0px;">
      <div class="container">
        <h1 class="display-5">当サイトについて</h1>
        <p class="lead">&nbsp;about this page.</p>
      </div>
    </div>
    <div class="card border mb-2 mr-2 ml-2 mt-2">
      <div class="card-header">機能</div>
      <div class="card-body text-dark">
        <p class="card-text">入力された「ひらがな」をオシテ(ヲシテ)と呼ばれる文字に変換します。
        ひらがな以外を入力された場合、そのままの文字で表示します。
        </p>
      </div>
    </div>
    <div class="card border mb-2 mr-2 ml-2 mt-2">
      <div class="card-header">目的</div>
      <div class="card-body text-dark">
        <h5 class="card-title">技術検証</h5>
        <p class="card-text">
          当サイトは、以下のWebサイト作成技術を検証するために作成しました。<br>
          <br>
          [検証内容]<br>
          <ul>
              <li>Pythonの軽量Webフレームワーク Flaskを利用した、簡易Webページ作成。</li>
              <li>Python・Flask構成のdockerコンテナ化と、それに応じた開発環境の検証。</li>
              <li>AWS Lightsail(container)全般の確認。</li>
              <li>AWS Lightsail(container)環境へのリリース関連作業の確認。</li>
              <li>AWS Route53、AWS Lightsail DNS関連の検証。</li>
          </ul>

          [旧サイト時の検証内容]<br>
          <ul>
              <li>Pythonの軽量Webフレームワーク Flaskを利用した、簡易Webページ作成。</li>
              <li>テンプレートエンジンJinja2を利用した、Webページ基本構造の生成。</li>
              <li>bootstrap4を利用した、Webページのレイアウト調整。</li>
              <li>Herokuを利用した際のリリース関連作業の確認。</li>
          </ul>
        </p>
      </div>
    </div>
    {% include "old_design/parts/footer.html" %}
</body>
{% include "old_design/parts/bodyUnderCmn.html" %}
<script>
  $(function() {
      $(".unav-item").removeClass("active");
      $("#nav-item-about").addClass("active");
  });
</script>
</html>
