.card-body-min-padding {

    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;

}

/** home.html oshite title img style. */
.home-top-title-img{
    height: 35px;
    width: 35px;
    vertical-align:middle;
}
