<!DOCTYPE html>
<html lang="ja">
<head>
  {% include "parts/headTagCmn.html" %}
  <title>ヲシテ文字 コンバーター</title>
</head>
<body>
  {% include "parts/header.html" %}
  <main role="main">
    <p style="background-color: #e3f2fd;">
        <span style="font-family : Arial,'HG行書体',sans-serif;vertical-align:middle;font-size:35px;">ヲシテ 文字 変換</span>
    </p>
    <div class="card-body-min-padding">
      <span class="badge badge-pill badge-info ml-2">使用方法</span>
      <p class="ml-1 text-secondary" style="margin: 0px;">ひらがなを入力して、変換ボタンを押すとオシテ文字に変換されます。オシテ文字については、以下を参照下さい。</p>
      <a class="ml-1" href="https://ja.wikipedia.org/wiki/%E3%83%B2%E3%82%B7%E3%83%86">ヲシテ文字(wikipedia)</a>
      <p class="ml-1 text-secondary" style="margin: 0px;">ひらがな文字以外を入力された場合変換できませんので、そのままの文字を出力します。</p>
    </div>
    <hr>
    <div class="text-info ml-2">ひらがな（変換対象）</div>
    <form action="/post" method="post" class="form-inline">
      <div class="form-group ml-2 mr-2 example_Form_Div1">
        <textarea class="form-control" id="exampleFormControlTextarea1" name="input_kana" style="width:100%;" rows="5">{% if input_kana %}{{ input_kana }}{% endif %}</textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary ml-2 mr-2">変換</button>
        <button type="button" id="inputClearBtn" class="btn btn-outline-secondary">文字クリア</button>
      </div>
    </form>
    <hr>
    <p class="text-info ml-2">オシテ（変換後）</p>
    <p class="ml-2">
    {% for cList in converted_input_list %}
      {% if fileType in cList %}
        <img border="0" src=" {{ cList }} " width="10%" height="10%">
      {% else %}
        {{ cList }}
      {% endif %}
    {% endfor %}
    </p>
  </main>
  {% include "parts/footer.html" %}
</body>
{% include "parts/bodyUnderCmn.html" %}
<script>
    $(function() {
        $(".unav-item").removeClass("active");
        $("#nav-item-home").addClass("active");
    });
    </script>
</html>