<!--
  This file is imported by..
  include home.html
  include about.html
  include history.html
-->
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #93cffc;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto mt-1">
      <li class="nav-item">
        <a id="nav-item-home" class="nav-link" href="/home" method="home">home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a id="nav-item-about" class="nav-link" href="/about" method="about">about<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a id="nav-item-history" class="nav-link" href="/history" method="about">history<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>