<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "parts/headTagCmn.html" %}
    <title>ヲシテ へんかん</title>
</head>

<body style="background: #FEFBF3;">
    {% include "parts/header.html" %}
    <main role="main" class="box">
        <a id="nav-item-top" method="home">
            <img src="../../static/images/header/whosite_convert_3.png" alt="ヲシテ へんかん ロゴ" class="header__top__woshite">
            <span class="sr-only">(current)</span>
        </a>

        <!-- sns share div -->
        <div class="sns-share-div is-pc-sns">
            <a class="twitter-share-button"
                href="https://twitter.com/share?url=https://www.woshite.net/?text=ヲシテ へんかん。ひらがなをヲシテ文字(オシテ文字)、ホツマ文字に変換してくれるサイトです。">
                <img src="../../static/images/header/logo-black-x.png" class="is-pc-share-img is-pc-share-img-x">
            </a>
            <div class="is-pc-line-div">
                <a
                    href="https://social-plugins.line.me/lineit/share?url=https://www.woshite.net/?text=ヲシテ へんかん。ひらがなをヲシテ文字(オシテ文字)、ホツマ文字に変換してくれるサイトです。">
                    <img src="../../static/images/LINE_APP_iOS.png" class="is-pc-share-img is-pc-share-img-line">
                </a>
            </div>
        </div>
        <!-- sns share div -->

        <div class="card__body__min__padding">
            <img class="home__how__to__use__img" src="../../static/images/header/how_to_use_1.png" alt="つかいかた">
            <p class="home__how__to__use main-p">ひらがなを入力して変換ボタンを押すと、神代文字の一種であるヲシテ文字(ホツマ文字)に変換されます。</br>
                ヲシテ文字については、以下を参照下さい。</p>
            <a class="home__how__to__use"
                href="https://ja.wikipedia.org/wiki/%E3%83%B2%E3%82%B7%E3%83%86">ヲシテ文字(wikipedia)</a>
            <p class="home__how__to__use">※ひらがな文字以外を入力された場合変換できませんので、そのままの文字を出力します。</p>
        </div>

        <img class="home__text__img" src="../../static/images/hiragana_1.png" alt="ひらがな 変換前">

        <form action="/post" method="post" class="form-inline">
            <div class="form-group kana__input__form__div">
                <textarea class="form-control" id="example__form__control__textarea" name="input_kana"
                    rows="5">{% if input_kana %}{{ input_kana }}{% endif %}</textarea>
            </div>
            <div class="home__convert__btn__div">
                <button type="submit" class="btn home__convert__btn">へんかん</button>
                <button type="button" id="input__clear__btn" class="btn home__clear__btn">文字クリア</button>
            </div>
            <div class="btn-group btn-group-toggle home__convert__radio" data-toggle="buttons">
                {% if input_rube %}
                <label class="btn active">
                    <input type="radio" name="input_rube" value="true" autocomplete="off" checked>ルビあり
                </label>
                <label class="btn">
                    <input type="radio" name="input_rube" value="false" autocomplete="off">ルビなし
                </label>
                {% else %}
                <label class="btn">
                    <input type="radio" name="input_rube" value="true" autocomplete="off">ルビあり
                </label>
                <label class="btn active">
                    <input type="radio" name="input_rube" value="false" autocomplete="off" checked>ルビなし
                </label>
                {% endif %}
            </div>
        </form>

        <br>
        <!-- show oshite word area -->
        {% if converted_input_list | length != 0 %}
        <img class="home__text__converted__img" src="../../static/images/woshite_converted_1.png" alt="ヲシテ 変換後">
        <p id="oshite__img__p" class="rounded">
            {% for cList in converted_input_list %}
                {% if fileType in cList %}
                    {% if input_rube %}
            <img src=" {{ cList }} " class="oshite__img__include_rube" alt="woshite img">
                    {% else %}
            <img src=" {{ cList }} " class="oshite__img" alt="woshite img">
                    {% endif %}
                {% else %} {{ cList }}
                {% endif %}
            {% endfor %}
        </p>
        {% if can_downloadable %}
        <button id="oshite__img__download" type="button" class="btn home__download__btn">画像ダウンロード</button>
        {% else %}
        <button type="button" class="btn home__download__btn" disabled>画像ダウンロード</button>
        {% endif %}
        <p class="oshite__not__convert__notice">※ひらがな文字以外を入力された場合、変換できません。そのままの文字を灰色で出力します。</p>
        <p class="oshite__not__convert__notice">※ひらがな文字以外を入力された場合、画像ダウンロードできません。</p>
        {% endif %}
        <!-- show oshite word area -->
        <p class="home__about__image__link">変換せずに、ヲシテ文字をまとめてダウンロードする場合は、<a href="/about#about_image_info">こちら</a>よりダウンロードできます。</p>
    </main>
    {% include "parts/footer.html" %}
</body>
{% include "parts/bodyUnderCmn.html" %}
<script type="text/javascript" src="../../static/home.js"></script>

</html>